* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "JetBrainsMonoNL Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 0;
  min-height: 0;
  color: #f1f1f1;
}

window#waybar {
  background: transparent;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: rgba(220, 220, 220, 0.2);
}

#workspaces button.urgent {
  background-color: rgba(214, 82, 82, 0.3);
}

button,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-notifications,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#bluetooth,
#language,
#mpd {
  padding: 0 5px;
  color: #f1f1f1;
  background-color: rgba(220, 220, 220, 0.1);
  border-radius: 6px;
}


button:hover,
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#custom-notifications:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#bluetooth:hover,
#language:hover,
#mpd:hover {
  color: #f1f1f1;
  background-color: rgba(220, 220, 220, 0.2);
  border-radius: 6px;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  color: #fff7d6;
}

#power-profiles-daemon.balanced {
  color: #d6efff;
}

#power-profiles-daemon.power-saver {
  color:#dcffd6;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
