window {
  margin: 0px;
  border: 1px solid #171717;
  background-color: #262626;
}

#input {
  margin: 5px;
  border: none;
  color: #e0e0e0;
  background-color: #1f1f1f;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #171717;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #191919;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #e0e0e0;
}

#entry.activatable #text {
  color: #cccccc;
}

#entry>* {
  color: #e0e0e0;
}

#entry:selected {
  background-color: #4f4f4f;
}

#entry:selected #text {
  font-weight: bold;
}
